@use "./elements/body";
@use './elements/root';

.about {
  background-color: hotpink;

  @media (min-width: 1024px) {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}

a {
  text-decoration: none;
  transition: 1s;
  padding: 3px;

  &:hover {
    background-color: oklch(70.39% 0.15deg 160.55deg / 20%);
  }
}

.green {
  text-decoration: underline;
  color: var(--color-heading);
}
