// SETTINGS

// TOOLS

// GENERICS

// OBJECTS/LAYOUTS

// ELEMENTS
@use './elements/root';
@use "./elements/body";

// COMPONENTS
@use './components/details';

// VENDOR

// UTILITIES

a {
  color: var(--vt-c-white-mute);
  text-decoration: none;
  text-underline-offset: 0.25rem;
  padding: 3px;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}
